#quienes_somos p{
        margin: 10px 20px 25px 20px;
}

.galeria img{
    width: 300px;
    height: 250px;   
}

.icono_quienes-somos{
    background-image: url(../img/personas-icono.png);
    background-repeat: no-repeat;
    background-position: 800px;
    background-size: 40px;
}